<!-- Balise meta -->
<meta charset="{{US.charset}}">
<link rel="canonical" href="{{US.url.host}}/{{US.url.path}}" />

{% if US.meta %}
	<title>{{US.meta.title}}</title>
	{% for m_name, m_content in US.meta %}
		<meta name="{{m_name}}" content="{{m_content}}">
	{% endfor %}
{% endif %}

<!-- Custom CSS -->
{% if US.stylesheet %}
	{% for s_file in US.stylesheet %}
		<link rel="stylesheet" href="assets/css/{{s_file}}.css" />
	{% endfor %}
{% endif %}

<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/js/uikit-icons.min.js"></script>

<!-- Custom JS -->
{% if US.script %}
	{% for s_file in US.script %}
		<script src="assets/js/{{s_file}}.js"></script>
	{% endfor %}
{% endif %}