$global-emphasis-color: #000;
$global-color: #222;
$global-inverse-color: #fff;
$global-primary-background: $global-inverse-color;
$global-background: $global-primary-background;
$global-secondary-background: $global-color;
$global-font-family: 'Quicksand', sans-serif;
$global-font-size: 20px;
$global-border: $global-color;
$inverse-global-border: $global-inverse-color;