<!doctype {{US.doctype}}>
<html lang="{{US.lang}}">
	<head>
		{% include 'parts/_head.html' %}
	</head>
	<body>
		{% include 'parts/_header.html' %}
		{% include 'parts/_main.html' %}
		{% include 'parts/_footer.html' %}
	</body>
</html>
