<!doctype {{US.doctype}}>
<html lang="{{US.lang}}" class="uk-height-1-1">
	<head>
		//=include _head.njk
	</head>
	<body class="us-body uk-height-1-1" data-us-page="1">
		//=include _header.njk
		//=include _main.njk
	</body>
</html>