{% if US.NJK.buttons %}
    {% for b_button in US.NJK.buttons %}
        <a
            {% if b_button.attributes %}
                {% for a_name, a_value in b_button.attributes %}
                    {{a_name}}="{{a_value}}"
                {% endfor %}
            {% endif %}
        >
            {{ b_button.label | safe }}
        </a>
    {% endfor %}
{% endif %}