<main
    class="uk-section uk-padding-remove {{ US.NJK.class }}"
    {% if US.NJK.image %}
        data-src="{{ US.NJK.image }}" uk-img
    {% endif %}
>
    <div class="uk-container uk-flex uk-flex-center uk-height-viewport">
        <div class="uk-margin-auto-vertical uk-text-center">
            {% block main_title %}
                <h1 class="uk-heading-primary uk-margin-small">{{ US.NJK.title }}</h1>
            {% endblock %}
            {% block main_text %}
                <p>{{ US.NJK.text | safe }}</p>
            {% endblock %}
            {% block main_buttons %}
                //=include _buttons.njk
            {% endblock %}
        </div>
    </div>
</main>