<ul class="us-navigator uk-nav uk-position-fixed uk-position-medium uk-position-bottom-right" uk-scrollspy-nav="closest: li; scroll: true">
    <li>
        <a href="#us-page--home">
            <img class="uk-preserve" src="assets/images/arrow.svg" uk-svg />
        </a>
    </li>
    <li>
        <a href="#us-page--evolutions">
            <img class="uk-preserve" src="assets/images/arrow.svg" uk-svg />
        </a>
    </li>
    <li>
        <a href="#us-page--capacities">
            <img class="uk-preserve" src="assets/images/arrow.svg" uk-svg />
        </a>
    </li>
    <li>
        <a href="#us-page--contact">
            <img class="uk-preserve" src="assets/images/arrow.svg" uk-svg />
        </a>
    </li>
    <li>
        <a href="#us-page--home" uk-scroll>
            <img class="us-navigator-top uk-preserve" src="assets/images/arrow.svg" uk-svg />
        </a>
    </li>
</ul>