<!doctype {{US.doctype}}>
<html lang="{{US.lang}}" class="uk-height-1-1">
	<head>
		{% set url_checker = r/^https?:\/\//i %}
		
		<!-- Balise meta -->
		<meta charset="{{US.charset}}">
		<link rel="canonical" href="{{US.url.host}}/{{US.url.path}}" />
		
		{% if US.meta %}
			<title>{{US.meta.title}}</title>
			{% for m_name, m_content in US.meta %}
				<meta name="{{m_name}}" content="{{m_content}}">
			{% endfor %}
		{% endif %}
		
		{% if US.socialMedia %}
			{% for m_property, m_content in US.socialMedia %}
				<meta property="{{m_property}}" content="{{m_content}}">
			{% endfor %}
		{% endif %}
		
		<!-- CSS -->
		{% if US.stylesheet %}
			{% for s_file in US.stylesheet %}
				{% if url_checker.test(s_file) %}
					<link rel="stylesheet" href="{{s_file}}" />
				{% else %}
					<link rel="stylesheet" href="assets/css/{{s_file}}.css" />
				{% endif %}
			{% endfor %}
		{% endif %}
		
		<!-- JS -->
		{% if US.script %}
			{% for s_file in US.script %}
				{% if url_checker.test(s_file) %}
					<script src="{{s_file}}"></script>
				{% else %}
					<script src="assets/js/{{s_file}}.js"></script>
				{% endif %}
			{% endfor %}
		{% endif %}
	</head>
	<body class="us-body uk-height-1-1" data-us-page="1">
		<header class="us-header"></header>
		<main class="us-main uk-margin-auto uk-flex uk-height-1-1">
			<div class="us-card uk-flex-1 uk-margin-auto-vertical">
				<div class="us-card-row">
					<div class="us-card-face us-card-face--front">
						{% block card_face_1 %}{% endblock %}
					</div>
					<div class="us-card-face us-card-face--back">
						{% block card_face_3 %}{% endblock %}
					</div>
				</div>
				<div class="us-card-pivot us-card-pivot--first">
					<div class="us-card-row">
						<div class="us-card-face us-card-face--front us-card-face--inverse">
							{% block card_face_2 %}{% endblock %}
						</div>
						<div class="us-card-face us-card-face--back">
							{% block card_face_4 %}{% endblock %}
						</div>
					</div>
					<div class="us-card-pivot us-card-pivot--last">
						<div class="us-card-row">
							<div class="us-card-face us-card-face--front">
								{% block card_face_6 %}{% endblock %}
							</div>
							<div class="us-card-face us-card-face--back">
								{% block card_face_5 %}{% endblock %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>