$us-skew-angle: 30deg;

.us-img {
	max-height: 100%;
}

.us-skew {
    transform: skewX(-$us-skew-angle);
	overflow: hidden;
}

.us-unskew {
    display: block;
    transform: skewX($us-skew-angle);
}