<!doctype {{US.doctype}}>
<html lang="{{US.lang}}">
	<head>
		//=include _head.njk
	</head>
	<body class="uk-position-relative" 
		{% if US.NJK.image %}
			data-src="{{ US.NJK.image }}" uk-img
		{% endif %}
	>
		{% block header %}
			//=include _header.njk
		{% endblock %}
		{% block main %}
			//=include main/_main.njk
		{% endblock %}
		{% block footer %}
			//=include _footer.njk
		{% endblock %}
	</body>
</html>