<!-- Extension du Layout --> 
{% extends 'templates/card.njk' %}

{% block card_face_1 %}
    {% include "pages/01-home.html" %}
{% endblock %}
{% block card_face_2 %}
    {% include "pages/02-evolutions.html" %}
{% endblock %}
{% block card_face_3 %}
    {% include "pages/03-capacities-html-js.html" %}
{% endblock %}
{% block card_face_4 %}
    {% include "pages/04-capacities-CSS-SASS.html" %}
{% endblock %}
{% block card_face_5 %}
    {% include "pages/05-capacities-php-mysql.html" %}
{% endblock %}
{% block card_face_6 %}
    {% include "pages/06-contact.html" %}
{% endblock %}