<!-- Extension du Layout --> 
{% extends 'templates/base/core.njk' %}

<!-- Contenu du <main></main> --> 
{% block mainContent %}

    <section id="tpz-home" class="uk-section uk-section-primary uk-padding-remove" >
        <div class="uk-container uk-container-small uk-flex uk-flex-center uk-height-viewport">
            <div class="uk-margin-auto-vertical">
                <h1 class="uk-heading-primary uk-margin-small">Hello World !</h1>
            </div>
        </div>
    </section>

{% endblock %}